

body{
    background-image: url("image fond bleu 2.jpg");/*fond du site*/
    background-size: cover;
    background-repeat: no-repeat; /* L'image ne se répétera pas */
    background-attachment: fixed; /* L'image reste fixe lorsque vous faites défiler la page */
}


*
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*police de texte*/
}
.topnav 
  {
    background-color: rgba(117, 117, 117, 0.566); /*couleur de fond navbar*/
    overflow: hidden;
  }

  
  .topnav a 
  {
    font-family: "Roboto", sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; /* Customization des liens cliquables*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover 
  {
    background-color: #2f0b6291;
    color: rgb(239, 239, 239);
    transition: .75s; /* faire un effet de couleur qui apparaît et disparaît lors du survol avec le curseur*/
  }

  .topnav a.active 
  {
    background-color: #2f0b6291; /* couleur de fond du acceuil*/
    color: white;
  }

  .topnav .icon 
  {
    display: none;
  }
  .image-cv
  {
    margin-top: 5em;
    width: 575px;
    height: 800px;
    display: flex;
    position: relative;
    margin: 85px auto; /* parametre de la photo*/
    border: 1px solid black;
    border-radius: 7px;
}
h1{
    color: white;
    text-align: center; /*couleur texte*/
    margin-top: 50px;
}
.navbar1
{
    margin-left:660px;/*espace dans la barre*/
}
.box-button-1
{
margin-left: 449px;
border: 2px solid #000000;
border-radius: 15px;
background-color:#397BAD ;
padding: 14px;
margin-top: 70px;
color: #ffffff  ;
}
.box-button-2
{

margin-left: 134px;
border: 2px solid #000000;
border-radius: 15px;
background-color:#397BAD ;
padding: 14px;
color: #ffffff  ;

}
.pied-de-page
{
height: 70px;
margin-top: -10px;
}