/* Réinitialisation des styles par défaut et styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #2f0b62; /* Couleur au survol */
}

/* Media query pour rendre la navbar responsive */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
